#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
_ReSharper*
[Oo]bj
[Bb]in
deploy
deploy/*
*.suo
*.pdb
*.user
*.cache
*.vsmdi
*.testsettings
Thumbs.db
Debug
TestResults
error-*.xml
*.publish.xml
*.sdf
logfile.txt
packages/*
!packages/repositories.config
Web/logfile.txt
returns_web/App_Data/*

returns_web/App_Data/retContext-20141225103047.mdf
returns_web/App_Data/retContext-20141225103047_log.ldf
