@using System.Web.UI.WebControls
@model IEnumerable<returns_web.Models.Retsale>
@{
    var i = 0;
}
       <a  id="retSaleAdd" href="#">إضافة مبيعات</a>

<table id="retSaleTbl" class="table table-striped table-bordered table-hover" style="direction:rtl">
    <tr>
        <th>@Html.DisplayNameFor(model => model.taxrateid)</th>
        <th>
            @Html.DisplayNameFor(model => model.saleval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saletax)
        </th>
    </tr>

    @foreach(var item in Model)
    {
        ViewBag.Rowcount = i;
        @Html.Partial("_RetSaleSingle",item)
        i++;
    }
    

</table>
